@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

html {
  scrollbar-gutter: stable;
}

figure.shiki {
  padding: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
}
